<html>

<head>
    <title>Text Encryptor</title>

    <style>
        .button-container {
          text-align: center;
        }
    </style>
    
</head>

<body style="background-color: darkgrey;">    
    <h1 style="text-align: center; font-family: Arial, Helvetica, sans-serif;">Choose Which Task you want to do</h1>
    
    <div class="button-container">
        <form action="/Encrypt">
            <button style="width: 200; background-color:white; font-family: Arial, Helvetica, sans-serif;">Encrypt</button>
        </form>
        
        <form action="/Decrypt">
            <button style="width: 200; background-color:white; font-family: Arial, Helvetica, sans-serif;">Decrypt</button>
        </form>
        
    </div>

</body>

</html>
