<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>THE NEWS</title>

    <style>
        .HouseStyle {
            text-align: center;
            font-family: Arial, Helvetica, sans-serif;
            background-color: #088395;
            color: white;
        }

        button {
            background-color: #088395;
            color: white;
            border-width: 0.1px;
            border-radius: 15px;
        }
    </style>
</head>
<body class="HouseStyle">
    <h1>NEWS</h1>
    <h2>{{NewsTitle}}</h2>
    <p>{{Desc}}</p>

    <form action="/Next">
        <button>Next</button>
    </form>


</body>
</html>