<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CloudSnap!</title>

    <style>
        .HouseStyle {
            background-color: silver;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        }
    </style>
</head>
<body class="HouseStyle">
    <h1 style="text-align: center;">CloudSnap!</h1>

    <form action="/input" method="POST" style="text-align: center;">
        <input type="text" name="Lat">
        <input type="text" name="Lon">
        <button type="submit">Click me!</button>
    </form>
</body>
</html>
