<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CloudSnap!</title>

    <style>
        .HouseStyle {
            background-color: silver;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        }

        button{
            text-align: center;
        }
    </style>
</head>
<body class="HouseStyle">
    <h1 style="text-align: center;">CloudSnap!</h1>
    <h2 style="text-align: center;">The weather is {{Current_Weather}}</h2>

    <form action="/">
        <button style="text-align: center;">Go back</button>
    </form>
</body>
</html>
