<html>
    <head>
        <title>Copilot</title>

        <style>
            .ButtonContainer {
              text-align: center;
              font-family: Arial, Helvetica, sans-serif;
              border-color: transparent;
            }
        </style>
    </head>

    <body style="background-color: darkgray;">
        <h1 style="font-family: Arial, Helvetica, sans-serif; text-align: center;">Welcome To Copilot powered by GPT-3! Ask me anything!</h1>

        <form action="/" method="post">
            <div class="ButtonContainer">
                <input type="text" name="Command" style="font-family: Arial, Helvetica, sans-serif;">
                <button style="font-family: Arial, Helvetica, sans-serif;">Ask!</button>
            </div>
        </form>

        <h2 style="font-family: Arial, Helvetica, sans-serif, sans-serif; text-align: center;">{{Response}}</h2>


    </body>
</html>